@{
    ViewData["Title"] = "Home Page";
}

<div>
<div class="panel panel-default" style="padding-top: 100px">
    <div class="panel-heading">
        <h1>Вітаємо у віртуальній лабараторії з розробки програмного забезпечення</h1>
    </div>
    <div class="panel-body">
        <h2>Оберіть завдання для виконання в пункті "Обрати завдання."</h2>
    </div>
</div>
</div>