@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="panel panel-default" style="margin-top: 100px">
        <div class="panel-heading">
            <h1>Вітаємо у віртуальній лабараторії з розробки програмного забезпечення</h1>
        </div>
        <div class="panel-body">
            <h2>Оберіть завдання для виконання в пункті "Завдання."</h2>
        </div>
    </div>
</div>
<img src="~/images/clipartwiki.com-methodical-clipart-1834382.png"  style="width:70%;height:40%;margin-left:150px"/>